In [1]:
# Dependencies
import pandas as pd
import pyodbc

# SQL Alchemy imports
from sqlalchemy import create_engine

In [2]:
gis_conn = (
    'mssql+pyodbc:///?odbc_connect='
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=srvvmsdeprod;'
    'DATABASE=MAP;'
    'Trusted_Connection=yes;'
)

In [35]:
eam_conn = (
    'mssql+pyodbc:///?odbc_connect='
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=srvvmeamproddb;'
    'DATABASE=EAMDB;'
    'Trusted_Connection=yes;'
)

In [6]:
# Create the gis engine
gis_engine = create_engine(gis_conn, echo=True)

In [36]:
eam_engine = create_engine(eam_conn, echo=True)

In [27]:
df = pd.read_csv('../data/master3.csv')

In [28]:
df.head()

,code,comm,date,obj,water-loss,lead,cost,bkd-hrs,label,conf,gis_id,object,lat,long,start,sub
0,2455996,added sandy loam to area and placed sod to com...,3/25/2022,Water at PRM0025614,0.0,HRANDALL,38.83,1.0,LEAK,99.407047,NaN,SER0084995,30.597904,-97.660831,01-11-2013,LA CONTERRA
1,1632062,The leak was at the male thread adapter that w...,10/8/2019,Water at PRM0015407,0.0,EVIDAURE,503.97,9.0,LEAK,100.000000,NaN,SER0098328,30.635433,-97.681256,11-02-2007,OLD TOWN
2,2459319,Excavated down about 3 ft to find a leak in th...,3/30/2022,Water at PRM0016406,50.0,HRANDALL,33.53,1.0,LEAK,100.000000,NaN,SER0065572,30.629817,-97.677648,07-19-2011,OLD TOWN
3,1943595,Line was about 2 feet on the inside of fence. ...,10/12/2020,Water at PRM0026165,0.0,HRANDALL,33.53,1.0,LEAK,100.000000,NaN,SER0111053,30.716708,-97.776366,01-31-2002,NORTH LAKE
4,2037670,leak coming from straight stop. replaced strai...,2/1/2021,Water at PRM0020618,250.0,HRANDALL,105.89,3.0,LEAK,100.000000,NaN,SER0105203,30.700294,-97.783750,03-31-2002,TWIN SPRINGS

In [16]:
serv_query = '''
    SELECT OBJECTID as obj_id, 
           COGEAMID as addr_id, 
           PREMISESID as prem_id, 
           SERVICEID as serv_id, 
           LATITUDE as lat, 
           LONGITUDE as lon
     FROM gtown.CIS_SERVICEINFO_LOCATION
     WHERE LATITUDE IS NOT NULL
     AND LONGITUDE IS NOT NULL
'''
serv_df = pd.read_sql_query(serv_query, gis_engine)

2023-09-21 11:45:29,884 INFO sqlalchemy.engine.Engine
    SELECT OBJECTID as obj_id,
           COGEAMID as addr_id,
           PREMISESID as prem_id,
           SERVICEID as serv_id,
           LATITUDE as lat,
           LONGITUDE as lon
     FROM gtown.CIS_SERVICEINFO_LOCATION
     WHERE LATITUDE IS NOT NULL
     AND LONGITUDE IS NOT NULL

2023-09-21 11:45:29,884 INFO sqlalchemy.engine.Engine [raw sql] ()

In [20]:
serv_df.head()

   obj_id   addr_id     prem_id     serv_id        lat        lon
0  132752  3A0D0135  PRM0000014  SER0044209  30.628857 -97.701489
1  132753  FECB9107  PRM0000015  SER0063214  30.625065 -97.871154
2  132754  B9D8CED6  PRM0000016  SER0084013  30.694406 -97.749660
3  132755  C340768E  PRM0000017  SER0011309  30.664667 -97.679375
4  132756  C340768E  PRM0000017  SER0011334  30.664667 -97.679375

In [17]:
serv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223498 entries, 0 to 223497
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   obj_id   223498 non-null  int64
 1   addr_id  223498 non-null  object
 2   prem_id  223498 non-null  object
 3   serv_id  223498 non-null  object
 4   lat      223498 non-null  float64
 5   lon      223498 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 10.2+ MB

In [42]:
eam_obj_query = '''
    SELECT *
    FROM R5OBJECTS
'''

In [43]:
eam_obj_df = pd.read_sql_query(eam_obj_query, eam_engine)

2023-09-21 12:05:55,824 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2023-09-21 12:05:55,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 12:05:55,827 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-09-21 12:05:55,827 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ()
2023-09-21 12:05:55,844 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-09-21 12:05:55,844 INFO sqlalchemy.engine.Engine [generated in 0.00083s] ()
2023-09-21 12:05:55,847 INFO sqlalchemy.engine.Engine
    SELECT *
    FROM R5OBJECTS

2023-09-21 12:05:55,847 INFO sqlalchemy.engine.Engine [raw sql] ()

In [46]:
eam_obj_df.head()

,OBJ_OBTYPE,OBJ_OBRTYPE,OBJ_CODE,OBJ_DESC,OBJ_CLASS,OBJ_CATEGORY,OBJ_COSTCODE,OBJ_LTYPE,OBJ_LOCATION,OBJ_TAG,...,OBJ_UDFCHAR49,OBJ_UDFCHAR50,OBJ_UDFCHAR51,OBJ_UDFCHAR52,OBJ_UDFCHAR53,OBJ_UDFCHAR54,OBJ_UDFCHAR55,OBJ_SEGMENTVALUE,OBJ_DEVICETOLFROM_DECIMALS,OBJ_DEVICETOLTO_DECIMALS
0,*,*,*,ANY OBJECT,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,A,A,(512) 931-2018,9-1-1 'admin',PHONE,None,52501-100-CC0202-SC0286,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,A,A,(512) 931-2080,9-1-1 'admin',PHONE,None,52501-100-CC0202-SC0286,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,A,A,(512) 931-2137,9-1-1 'admin',PHONE,None,52501-100-CC0202-SC0286,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,A,A,(512) 931-2147,9-1-1 'admin',PHONE,None,52501-100-CC0202-SC0286,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [56]:
eam_obj_df[eam_obj_df.OBJ_GISOBJID.notna()]

,OBJ_OBTYPE,OBJ_OBRTYPE,OBJ_CODE,OBJ_DESC,OBJ_CLASS,OBJ_CATEGORY,OBJ_COSTCODE,OBJ_LTYPE,OBJ_LOCATION,OBJ_TAG,...,OBJ_UDFCHAR49,OBJ_UDFCHAR50,OBJ_UDFCHAR51,OBJ_UDFCHAR52,OBJ_UDFCHAR53,OBJ_UDFCHAR54,OBJ_UDFCHAR55,OBJ_SEGMENTVALUE,OBJ_DEVICETOLFROM_DECIMALS,OBJ_DEVICETOLTO_DECIMALS
74905,A,A,13566,"Hydrant Near, 301 MILL POND PATH",HYD,UNKNOWN,52509-660-CC0528-SC0314,None,None,None,...,None,None,None,None,None,None,None,None,None,None
74926,A,A,13567,"Hydrant Near, 115 GRANITE PEAK CV",HYD,UNKNOWN,52509-660-CC0528-SC0314,None,None,None,...,None,None,None,None,None,None,None,None,None,None
74947,A,A,13568,"Valve Near, 132 LONE STAR DR",PRCSVALV,PRESSURE REDUCING,660-5-0528-51-542,None,None,None,...,None,None,None,None,None,None,None,None,None,None
74968,A,A,13569,"Valve Near, 102 DOUBLE FIRE TRL",PRCSVALV,PRESSURE REDUCING,660-5-0528-51-542,None,None,None,...,None,None,None,None,None,None,None,None,None,None
74989,A,A,13570,"Water Main Near, 1370 SH 195",WTRMAIN,DISTRIBUTION 06,52509-660-CC0528-SC0314,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699841,PRM,S,PRM0076321,245_TRAVIS_LN,PREMISES,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
699842,PRM,S,PRM0076322,249_TRAVIS_LN,PREMISES,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
699843,PRM,S,PRM0076323,232_TRAVIS_LN,PREMISES,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
699844,PRM,S,PRM0076324,108_SHADY HILL_LOOP,PREMISES,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
699845,PRM,S,PRM0076325,316_CASTILLO_BND,PREMISES,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
df.head()

,code,comm,date,obj,water-loss,lead,cost,bkd-hrs,label,conf,gis_id,object,lat,long,start,sub
0,2455996,added sandy loam to area and placed sod to com...,3/25/2022,Water at PRM0025614,0.0,HRANDALL,38.83,1.0,LEAK,99.407047,NaN,SER0084995,30.597904,-97.660831,01-11-2013,LA CONTERRA
1,1632062,The leak was at the male thread adapter that w...,10/8/2019,Water at PRM0015407,0.0,EVIDAURE,503.97,9.0,LEAK,100.000000,NaN,SER0098328,30.635433,-97.681256,11-02-2007,OLD TOWN
2,2459319,Excavated down about 3 ft to find a leak in th...,3/30/2022,Water at PRM0016406,50.0,HRANDALL,33.53,1.0,LEAK,100.000000,NaN,SER0065572,30.629817,-97.677648,07-19-2011,OLD TOWN
3,1943595,Line was about 2 feet on the inside of fence. ...,10/12/2020,Water at PRM0026165,0.0,HRANDALL,33.53,1.0,LEAK,100.000000,NaN,SER0111053,30.716708,-97.776366,01-31-2002,NORTH LAKE
4,2037670,leak coming from straight stop. replaced strai...,2/1/2021,Water at PRM0020618,250.0,HRANDALL,105.89,3.0,LEAK,100.000000,NaN,SER0105203,30.700294,-97.783750,03-31-2002,TWIN SPRINGS

In [44]:
df1 = df

In [49]:
df1.loc[(~df1.object.isin(serv_df.addr_id)) & (~df1.object.isin(serv_df.serv_id)) & (~df1.object.isin(serv_df.prem_id)) & (~df1.object.isin(eam_obj_df.OBJ_CODE)), :]

,code,comm,date,obj,water-loss,lead,cost,bkd-hrs,label,conf,gis_id,object,lat,long,start,sub
129,519842,Repaired the service_comma_ sectioned in a bra...,9/13/2016,71 WILDWOOD DR - 202,233000.0,CPOUSSON,69.71,2.0,LEAK,100.000000,100012398.0,1.44E+245,NaN,-97.718864,NaN,NaN
648,789435,This is a city leak on the 3/4 inch poly just ...,5/1/2018,508 RIVER DOWN RD,0.0,CGRAHAM,67.06,2.0,LEAK,100.000000,100027665.0,3.42E+14,NaN,-97.706831,NaN,NaN
950,537777,put grass seed outgrass seed neededclean up fi...,12/1/2016,2009 JIM HOGG RD,0.0,HRANDALL,38.83,1.0,LEAK,100.000000,100007105.0,3.06E+14,NaN,-97.753802,NaN,NaN
1912,485428,CALLER REPORTS WATER LEAK ON THE RIGHT SIDE OF...,6/30/2016,5405 WILLIAMS DR,0.0,JMCELROY,44.93,1.0,LEAK,99.166709,100034678.0,9.62E+82,NaN,-97.743840,NaN,NaN
2528,272773,The 1/4 ball valve inside the cover for the fl...,7/8/2015,1319 INDIAN LAKE RD,0.0,JMCELROY,33.53,1.0,LEAK,99.891174,100077396.0,5.45E+29,NaN,-97.750566,NaN,NaN
3243,339521,There was no leak. A contractor was pumping wa...,11/13/2015,5405 WILLIAMS DR,0.0,JMCELROY,38.83,1.0,LEAK,56.555057,100034678.0,9.62E+82,NaN,-97.743840,NaN,NaN
3384,164507,fix the separation on the city side_comma_ pul...,10/23/2014,210 PRAIRIE SPRINGS LOOP,0.0,CGRAHAM,502.56,12.0,LEAK,60.447884,100026645.0,6.71E+12,NaN,-97.653578,NaN,NaN
3488,215645,Asset needs updating there was a gate valve th...,3/10/2015,301 E 19TH ST,0.0,CPOUSSON,1022.34,28.0,LEAK,100.000000,100015574.0,3933254,NaN,-97.675733,NaN,NaN
4026,784697,Water leak reported by Pete.Locate Ticket # 58...,4/19/2018,150 PEACEFUL VALLEY RD,0.0,HRANDALL,179.72,4.0,LEAK,100.000000,100074957.0,3.37E+09,NaN,-97.939771,NaN,NaN
4067,811529,Went back to check again. Locates are on the g...,7/3/2018,508 RIVER DOWN RD,0.0,HRANDALL,289.44,8.0,LEAK,99.986219,100027665.0,3.42E+14,NaN,-97.706831,NaN,NaN
4090,1261817,Ground is wet. Got pulled off for an emergenc...,8/13/2018,150 PEACEFUL VALLEY RD,0.0,EVIDAURE,38.83,1.0,LEAK,100.000000,100074957.0,3.37E+09,NaN,-97.939771,NaN,NaN
4156,1348497,verify if the repair has been made or what the...,11/6/2018,305 SHANNON LN,0.0,CGRAHAM,100.59,3.0,LEAK,99.448204,100031987.0,2.12E+10,NaN,-97.683008,NaN,NaN
4252,1488641,water spotted in road and in ditch same side a...,4/9/2019,30318 BUMBLE BEE DR,0.0,EVIDAURE,NaN,NaN,LEAK,99.998915,100016766.0,1318,NaN,-97.659449,NaN,NaN
4524,1812575,The crack was to long for a full circle clamp ...,5/2/2020,785 CR 255,78000.0,AHAMMACK,3238.92,57.0,LEAK,100.000000,100072576.0,4.43E+08,30.660019,-97.856843,NaN,NaN
4664,1970943,Customer had is burmuds grass we could not lay...,2/5/2021,136 WHISPERING WIND DR,25000.0,ICONDE,111.19,3.0,LEAK,99.977356,100019470.0,2.20E+12,NaN,-97.717580,NaN,NaN
4733,2079499,loactes have been called in LEAK DETECTION DET...,3/2/2021,201 INNWOOD DR,0.0,ICONDE,NaN,NaN,LEAK,99.815589,100033099.0,4.76E+05,NaN,NaN,NaN,NaN
4941,2299875,customer angle stop was off Jason Ellis turned...,10/31/2021,1510 ASH ST,0.0,CGRAHAM,38.83,1.0,LEAK,98.814011,100018679.0,5.02E+75,NaN,-97.673177,NaN,NaN

In [31]:
df1.lat = serv_df.loc[(serv_df.addr_id.isin(df.object)) | (serv_df.prem_id.isin(df.object)) | (serv_df.serv_id.isin(df.object)), 'lat']

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5471 entries, 0 to 5470
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        5471 non-null   int64
 1   comm        5471 non-null   object
 2   date        5471 non-null   object
 3   obj         5471 non-null   object
 4   water-loss  5471 non-null   float64
 5   lead        5380 non-null   object
 6   cost        5069 non-null   float64
 7   bkd-hrs     5069 non-null   float64
 8   label       5471 non-null   object
 9   conf        5471 non-null   float64
 10  gis_id      3408 non-null   float64
 11  object      5471 non-null   object
 12  lat         348 non-null    float64
 13  long        4344 non-null   float64
 14  start       1290 non-null   object
 15  sub         1285 non-null   object
dtypes: float64(7), int64(1), object(8)
memory usage: 684.0+ KB